* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.navbar {
  height: 4rem;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.left-side{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-side img {
  height: 3.5rem;
}

.media-icon {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.media-icon a {
  color: #6a59d1;
  font-size: 1.5em;
  margin: 10px 0;
}

.media-icon a:hover {
  color: #614fd0;
}

main {
  height: 90%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: #000000;
  position: relative;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}


main .right {
  background-color: #343434;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  overflow: auto;
}

.progress-bar {
  position: relative;
  width: 80%;
  height: 4px;
  background-color: #4caf50;
  animation: loadingAnimation 1.5s ease-in-out infinite;
  border-radius: 2px;
  margin: 20px auto;
}

@keyframes loadingAnimation {
  0% {
    width: 0%;
    opacity: 1;
  }
  50% {
    width: 80%;
    opacity: 0.5;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
}

.loading-container p {
  margin-top: 1rem;
  font-size: 1.2rem;
  opacity: 0.8;
}

.foot{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

@media screen and (max-width: 1070px) {
  main {
    flex-direction: column;
  }

  main .left,
  main .right {
    flex-basis: 100%;
  }
}


@media screen and (max-width: 412px) {
  .navbar {
    padding: 0 1rem;
  }

  .left-side h2{
    font-size: 1.2em;
  }

  .left-side img {
    height: 3rem;
  }

  .media-icon a {
    font-size: 1.2em;
  }

  .foot{
    font-size: 0.8em;
  }
}

@media screen and (max-width: 335px) {

  .left-side h2{
    font-size: 0.8em;
  }
}